@font-face {
  font-family: merriweather;
  font-weight: normal;
  src: local(merriweather), url("./Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: merriweather;
  font-weight: bold;
  src:
    local(merriweather bold),
    local(merriweather-bold),
    url("./Merriweather-Bold.ttf") format("truetype");
}
