@font-face {
  font-family: poppins;
  font-weight: 400;
  src:
    local("poppins"),
    url("./poppins-regular.ttf") format("truetype");
}

@font-face {
  font-family: poppins;
  font-weight: 500;
  src:
    local("poppins medium"),
    local("poppins-medium"),
    url("./poppins-medium.ttf") format("truetype");
}

@font-face {
  font-family: poppins;
  font-weight: 700;
  src:
    local("poppins bold"),
    local("poppins-bold"),
    url("./poppins-bold.ttf") format("truetype");
}
