:root {
  --color-black: #000;
  --color-dark: #24292f;
  --color-coral: #f05a3c;
  --color-violet: #736ef0;

  /* Fonts */
  --font-merriweather: "Merriweather", arial, sans-serif;
  --font-poppins: "Poppins", arial, sans-serif;
}
