.main-container {
  text-align: justify;
  font-family: var(--font-poppins);
  min-width: 100%;
  min-height: calc(100vh - 106px);
}

@media (min-width: 1884px) {
  .main-container {
    max-width: 1884px;
  }
}
